{% extends 'frontOffice.html.twig' %}
{% block body %}

     alertify.success('Success notification message.'); 

<a href="{{ path('app_team_edit', {'id': 'team.id'}) }}">edit</a>
              
{% endblock %}
