<!DOCTYPE html>

<title>Team index</title>

{% block body %}
    <div class="cm-scrollbar pos--rel h--100 w--100 centering" style="overflow: hidden scroll; height: auto; max-height: 100%;"><div class="_1bg6cf13b _1bg6cf14o _1bg6cf11y _1bg6cf1l"><div class="_1bg6cf17l"><h1 class="f--heading2 f--heading3--hd c--white lh--title ff--poppins">Create Team</h1><div class="_1bg6cf15n"><div class="cm-paragraph"><span class="c--white-dark f--base lh--copy dis--blk">Compete with your friends.</span></div></div></div><div class="cm-form-control" style="position: inherit;"><div class="cm-form-element"><div class="ant-form-item"><div class="ant-row ant-form-item-row"><div class="ant-col ant-form-item-control"><div class="ant-form-item-control-input"><div class="ant-form-item-control-input-content"><input autocomplete="on" placeholder="Enter a team name" id="TeamName" type="text" class="ant-input cm-input" value=""></div></div></div></div></div></div></div></div></div>
{% endblock %}
