{% extends 'frontOffice.html.twig' %}

{% block title %}Success!{% endblock %}

{% block body %}
  <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="collections">
                <div class="row g-4">
                    <div class="col-sm-12 col-xl-6">
                        <div class="bg-secondary rounded h-100 p-4">
                            <h3 class="mb-4">Payment Added Successfully !</h3>
                            <div class="main-button">
                                <a href="{{ path('app_team_new')}}">Register Your Team</a>
                            </div>
                        </div>
                    </div>
                </div>
</div></div>
                        </div>
                    </div>
                

{% endblock %}