{% extends 'frontOffice.html.twig' %}

{% block title %}Success!{% endblock %}

{% block body %}
  <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="collections">
                <div class="row g-4">
                    <div class="col-sm-12 col-xl-6">
                            <h3 class="mb-4">Payment Added Successfully !</h3>
                            <div class="main-button">
                                <a href="{{ path('app_user_listecoach')}}">Go back to list Coaches</a>
                            </div>
                       
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>                   

{% endblock %}

