{% extends 'frontOffice.html.twig' %}
    {% block title %}

    {% endblock %}

{% block body %}
 {{ user.firstname }} {{ user.lastname }}
    <a href="{{ url|raw }}">{{ url|raw }}</a>
{% endblock %}


