
{{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn">{{ button_label|default('Save') }}</button>
    <style>
    
    .btn{
          border-radius:20px;
   background:white;
   display: block;
  margin: 0 auto;
    }
    .btn:hover{
         background-color:gray;
         color:white;

    }
    
    </style>
{{ form_end(form) }}
