{% extends '/frontOffice.html.twig' %}
{% block title %}Actualités{% endblock %}

{% block body %}

    <h1>Actualite</h1>
   
        {% for actualite in actualites %}
            
               <h3> {{ actualite.Titre }} </h3>
               <p class="text-center"> {{ actualite.Description }}</p>
                
             
        {% else %}
            
                <td colspan="4">no records found</td>
            
        {% endfor %}

       
{% endblock %}