
{% extends 'frontOffice.html.twig' %}

{% block body %}

  <div class="page-heading">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <h6>Liberty NFT Market</h6>
          <h2>Discover Some Top Items</h2>
          <span>Home > <a href="#">Explore</a></span>
        </div>
      </div>
    </div>
    <div class="featured-explore">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-12">
            <div class="owl-features owl-carousel">
            {% for a in actualites %}
              <div class="item">
                <div class="thumb">
                  <img src="../../assets/images/featured-03.jpg" alt="" style="border-radius: 20px;">
                  <div class="hover-effect">
                    <div class="content">
                      <h4>{{a.titre}}</h4>
                      <span class="author">
                        <img src="../../assets/images/author.jpg" alt="" style="max-width: 50px; max-height: 50px; border-radius: 50%;">
                        <h6>{{a.description}}<br><a href="{{path('app_actualite_show',{ 'id': a.id }) }}">View More</a></h6>
                      </span>
                    </div>
                  </div>
                </div>
              </div>
{% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}