{% extends '/backOffice.html.twig' %}

{% block title %}New Actualite{% endblock %}

{% block body %}
   <div class="container-fluid pt-4 px-20">
        <div class="row g-4">
            <div class="col-sm-20 col-xl-20">
                <div class="bg-secondary rounded h-100 p-4">

    {{ include('actualite/_form.html.twig') }}

    <a href="{{ path('app_actualite_new') }}">back to list</a>
    </div>    </div>
    </div>
    </div>


{% endblock %}