{% extends 'frontOffice.html.twig' %}

{% block body %}
    <h1>Edit ReservationC</h1>

    {{ include('reservation_c/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_user_listecoach') }}" class="btn btn-primary btn-lg ">back to list</a>

    {{ include('reservation_c/_delete_form.html.twig') }}
{% endblock %}