{% extends 'frontOffice.html.twig' %}

{% block body %}
    <h1>Create new Reservation</h1>

    {{ include('reservation_c/_form.html.twig') }}

    <a href="{{ path('app_user_listecoach') }}" class="btn btn-primary btn-lg ">back to list</a>
{% endblock %}
